#  Local .terraform directories
**/.terraform/*

# Terraform lock file
.terraform.lock.hcl

# .tfstate files
*.tfstate
*.tfstate.*

# .tfvars files
*.tfvars

# lambda files
node_modules
dist

.vscode
